<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Common Stuff</title>
</head>
<body>
<header>
    <nav>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
    </nav>
</header>
{% block content%}
    <h1>Template Page</h1>
{% endblock content %}
<h2>Lab 26 | Title Snacks | By: Dominic Giacona</h2>

</body>
</html>